<!-- news_feed.html -->

{% extends 'base.html' %}

{% block page_title %}Add Sources{% endblock page_title %}

{% block content %}

    <h3>News sources !</h3>
    <a href="{% url 'news_feed' %}">Go To News Feed</a>

    <div class="row mt-4">

        <!--? Adding new category  -->
        <div class="col-12 col-lg-6 mb-4">
            <p class="bg-primary p-3 text-light h5">Add new Category</p>
            <form action="{% url 'add_category' %}" method="POST" style="border: 2px solid gray; border-top: 0;" class="p-3 pt-0">
                {% csrf_token %}
                <div class="col-7">
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="category_title" class="col-form-label">Category Title : </label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="category_title" class="form-control" name="category_title" placeholder="Enter Title..." required autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-5 mt-3">
                    <button class="btn btn-success" type="submit">Add Category</button>
                    <button class="btn btn-danger" type="reset">Cancel</button>
                </div>
            </form>
        </div>
        
        <!--? Adding new sources  -->
        <div class="col-12 col-lg-6 mb-4">
            <p class="bg-primary p-3 text-light h5">Add new sources</p>
            <form action="{% url 'add_source' %}" method="POST" style="border: 2px solid gray; border-top: 0;" class="p-3 pt-0">
                {% csrf_token %}
                <div class="col-7">
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="source_title" class="col-form-label">Title : </label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="source_title" class="form-control" name="source_link" placeholder="Enter Title..." required autofocus>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="source_link" class="col-form-label">Link : </label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="source_link" class="form-control" name="source_link" placeholder="Enter RSS link..." required autofocus>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="source_category" class="col-form-label">Category : </label>
                        </div>
                        <div class="col-auto">
                            <select name="source_category" id="source_category">
                                <option value="empty">Without a category</option>
                                {% if categories %}
                                    {% for category in categories %}
                                        <option value="{{category}}">{{category}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-5 mt-3">
                    <button class="btn btn-success" type="submit">Add Source</button>
                    <button class="btn btn-danger" type="reset">Cancel</button>
                </div>
            </form>
        </div>

        <!--? Consulting sources  -->
        <div class="col-12 col-lg-6">
            <p class="bg-primary p-3 text-light h5 m-0">Current sources</p>
            <div style="border: 2px solid gray; border-top: 0;" class="p-3 pt-0">

                {% if not links %}
                    <p>You didn't add any sources!</p>
                    {% else %}
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-success">
                                    <th scope="col">Link</th>
                                    <th scope="col">Adding Date</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for source in links %}
                                    <tr>
                                        <td>{{source.url}}</td>
                                        <td>{{source.adding_date}}</td>
                                        <td>
                                            <form action="{% url 'delete_source' source.id %}" method="POST">
                                                {% csrf_token %}
                                                <button type='submit' class="btn text-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
